In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv as csv
import xlrd
from datetime import datetime
from pandas import DataFrame

In [11]:
lion = pd.read_excel(r'C:\Users\USER\Desktop\大學\大三\三下\計算機程式\lion_test - 複製 (2).xlsx', encoding='gbk')

In [13]:
lion.head()

,日期,code,證券名稱,國際證券編碼,發行股數,外資及陸資尚可投資股數,全體外資及陸資持有股數,外資及陸資尚可投資比率,全體外資及陸資持股比率,外資及陸資共用法令投資上限比率,陸資法令投資上限比率
0,2015-01-05,3130,一零四,TW0003130001,"32,989,700","20,381,431","12,608,269",61.78,38.21,100.0,100.0
1,2015-01-06,3130,一零四,TW0003130001,"32,989,700","20,378,431","12,611,269",61.77,38.22,100.0,100.0
2,2015-01-07,3130,一零四,TW0003130001,"32,989,700","20,377,431","12,612,269",61.76,38.23,100.0,100.0
3,2015-01-08,3130,一零四,TW0003130001,"32,989,700","20,375,431","12,614,269",61.76,38.23,100.0,100.0
4,2015-01-09,3130,一零四,TW0003130001,"32,989,700","20,379,431","12,610,269",61.77,38.22,100.0,100.0

In [16]:
元大MSCI = lion.loc[lion['證券名稱']=='元大MSCI台灣']

In [18]:
df1 = pd.read_excel(r'C:\Users\USER\Desktop\大學\大三\三下\計算機程式\最終檔\1. 6203 元大MSCI台灣.xlsx',encoding='gbk')
df1a = pd.read_excel(r'C:\Users\USER\Desktop\大學\大三\三下\計算機程式\綜合數據 - 複製.xlsx',encoding='gbk')
left = pd.DataFrame(df1)
right = pd.DataFrame(df1a)
b = pd.merge(left,right, on='日期')

In [19]:
b.to_csv(r'C:\Users\USER\Desktop\大學\大三\三下\計算機程式\final\1. 元大MSCI台灣.csv',index=False,columns=None,encoding='utf-8-sig')

In [20]:
center = pd.DataFrame(元大MSCI)
c = pd.merge(b,center,on='日期')

In [24]:
c.drop(['code','證券名稱','國際證券編碼'],axis=1,inplace=True)

In [26]:
c.to_csv(r'C:\Users\USER\Desktop\大學\大三\三下\計算機程式\final\1. 元大MSCI台灣.csv',index=False,columns=None,encoding='utf-8-sig')